*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img{
    width: 100%;
}
.sliderfull{
    width: 100%;
    height: 100vh;
}
.sliderfull img{

object-fit: cover;
height: 100%;

} 
.owl-dots{
    display: none!important;
}
.owl-carousel{
    width: 100px;
    height: 80px;
}